/* design font size is 24px for vw 1920px */

:root {
  font-size: 1.25vw;
  font-family: "Poppins", sans-serif;
  --primary: #ffb000;
  --white: #ffffff;
  --dark-grey: #181920;
  --light-grey: #393946;
  --medium-grey: #9b9b9b;
  --bg-primary: #070718;
  --bg-secondary: #060623;
}

* {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  color: var(--white);
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

nav {
  height: 6.25rem;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  border-bottom: #255074 1px solid;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

#hamburger-button {
  cursor: pointer;
  display: none;
}

.logo-img {
  width: 3.2rem;
  height: 3.625rem;
}

.logo-text {
  font-size: 1.66rem;
  margin: 0 0.83rem;
}

#links > a {
  margin-left: 3.625rem;
  transition: color 0.2s linear;
}

#links > a:hover {
  color: var(--medium-grey);
}

section {
  padding: 0 5rem 5rem 5rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#vision h2 {
  font-size: calc(30px + 1vw);
  text-align: center;
  padding: 3rem 0;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  quotes: "“" "”" "‘" "’";
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

#hero .flex-container > div:first-child {
  padding-right: 5rem;
}

#hero .flex-container:last-child {
  padding-left: 5rem;
}

#hero-image {
  width: 100%;
  height: auto;
}

#hero h1 {
  font-size: 2.66rem;
  color: var(--primary);
}

#hero p {
  font-size: 2rem;
}

.title-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-pipe {
  width: 0.125rem;
  margin-right: 0.458rem;
}

.title-dot {
  width: 0.5rem;
  margin-left: 0.292rem;
  margin-top: 1.5rem;
}

.title {
  font-size: 2.666rem;
}

.flex-container > div {
  box-sizing: border-box;
  width: 50%;
}

section#traders .flex-container {
  justify-content: space-between;
}

section#traders .flex-container div.box {
  /* width: 21.625rem; */
  width: 31%;
  height: 24.333rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  align-items: center;
  background: var(--bg-secondary);

  border: 0.021rem solid var(--primary);
  box-shadow: 0px 1px 0.833rem var(--primary);
  border: 0.021rem solid var(--primary);
  border-radius: 0.833rem;
  opacity: 1;
}

#traders div.box > .box-icon {
  height: 3.375rem;
  margin-top: 2.542rem;
}
#traders div.box > .box-icon > img {
  height: 100%;
}
#traders div.box > .box-title {
  font-size: 1.333rem;
  color: var(--primary);
  margin: 1.333rem 0;
}
#traders div.box > .box-text {
  margin: 0 1.875rem;
}

section img {
  width: 100%;
}
#problems-solutions {
  font-size: 1.333rem;
}

#problems-solutions .flex-container > div:first-child {
  padding-right: 5rem;
}

#problems-solutions .flex-container > div:last-child {
  padding-left: 5rem;
}

.scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}

::-webkit-scrollbar {
  background: var(--bg-primary);
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 10px;
}

.scroll-wrapper > .card {
  flex: 0 0 auto;
  width: 33rem;
  margin-right: 2rem;

  border: 0.021rem solid var(--primary);
  box-shadow: 0px 1px 0.833rem var(--primary);
  border: 0.021rem solid var(--primary);
  border-radius: 0.833rem;
  background: var(--bg-secondary);
}

.card-grid {
  display: grid;
  grid-template-columns: [col1] 30% [col2] auto [colend];
  grid-template-rows: [row1] 45.62% [row2] auto [rowend];
}
.card-grid .pic {
  grid-column-start: col1;
  grid-column-end: col2;
  grid-row-start: row1;
  grid-row-end: row2;
}
.card-grid .position {
  grid-column-start: col2;
  grid-column-end: colend;
  grid-row-start: row1;
  grid-row-end: row2;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card-grid .desc {
  grid-column-start: col1;
  grid-column-end: colend;
  grid-row-start: row2;
  grid-row-end: rowend;
  padding: 0 1.5rem;
}
.card-grid .pic .img-wrapper {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  height: 100%;
  margin: auto;
}
.card-grid .pic img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  padding: 1.5rem;
}

.card-grid .position .name {
  font-weight: 700;
  font-size: 2rem;
}
.card-grid .position .job {
  font-size: 1.2rem;
}

.question-wrapper {
  margin-bottom: 1.083rem;
  font-size: 1.333rem;
}

.question {
  min-height: 5rem;
  padding: 0 2.5rem;
  background: var(--light-grey);
  border-radius: 0.458rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-answer .answer {
  max-height: 100vh;
}
.show-answer .arrow-wrapper > img {
  transform: rotate(-180deg);
  transition: all 0.3s linear;
}
.answer {
  transition: all 0.3s linear;
  max-height: 0;
  overflow: hidden;
}
.answer > p {
  padding: 0 2.5rem;
}

.arrow-wrapper > img {
  width: 1.918rem;
  transform: rotate(0deg);
  transition: all 0.6s linear;
}

footer {
  background: var(--dark-grey);
  padding: 1.772rem 5rem 1.083rem 5rem;
}

footer .footer-logo-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.666rem;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  font-size: 1.333rem;
}

.footer-grid > #left-item {
  margin-top: auto;
}
#socials img {
  height: 1.5rem;
}
#socials a:not(:first-child) {
  margin-left: 1.79rem;
}

footer > p {
  font-size: 1rem;
  text-align: center;
  color: var(--medium-grey);
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 16px;
  }

  section {
    padding: 0 1rem 1rem 1rem;
  }

  nav {
    height: auto;
    padding: 0 0.5rem !important;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .logo-wrapper {
    padding: 0.8rem;
  }

  #hamburger-button {
    display: block !important;
  }

  #links {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  #links.show {
    max-height: 50vh;
  }

  #links > a {
    margin-left: 0 !important;
    padding: 0.4rem;
  }

  .flex-container > div {
    width: 100% !important;
  }

  #hero .flex-container > div:first-child {
    padding-right: 0 !important;
  }

  #hero .flex-container:last-child {
    padding-left: 0 !important;
  }

  #hero .flex-container > div:last-child {
    display: none;
  }

  #traders .flex-container {
    flex-flow: column;
  }
  #traders .flex-container div.box {
    width: 100% !important;
    margin-bottom: 2.5rem;
  }

  #problems-solutions > div:nth-child(2) > div:nth-child(2) {
    display: none;
  }
  #problems-solutions > div:nth-child(2) > div:nth-child(1) {
    padding-right: 0 !important;
  }
  #problems-solutions > div:nth-child(3) > div:nth-child(1) {
    display: none;
  }
  #problems-solutions > div:nth-child(3) > div:nth-child(2) {
    padding-left: 0 !important;
  }

  #career > div:nth-child(2) > div:nth-child(2) {
    display: none;
  }

  .card {
    width: 95% !important;
  }
  .card-grid {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .card-grid .pic {
    width: 60%;
  }
  .card-grid .position {
    padding: 1.5rem 0;
  }
  .card-grid .desc {
    grid-column-start: col1;
    grid-column-end: colend;
    grid-row-start: row2;
    grid-row-end: rowend;
    padding: 0 1.5rem;
  }

  .footer-grid {
    padding-top: 2rem;
    flex-flow: column;
  }
}
